.app {
  text-align: center;
}

.app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.app-title {
  font-size: 1.5em;
}

.graph > rect:nth-child(even) {
  fill: #e3e3e3;
}

.graph > rect:nth-child(odd) {
  fill: #5bb16e;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


.x .tick text {
  font-size: 12px;
  transform: translate(-8px, 2px) rotate(-50deg);
  text-anchor: end !important;
}

.y > text {
  transform: rotate(-90deg) translate(-130px, -70px);
}
